body {
    font-family: Arial, sans-serif;
}

#contactUsBtn {
    padding: 10px 20px;
    background-color: #ff477e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
}

.popup-form form {
    display: flex;
    flex-direction: column;
}

.popup-form label {
    margin: 10px 0 5px;
}

.popup-form input[type="text"],
.popup-form input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup-form button {
    padding: 10px;
    background-color: #ff477e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}